<!DOCTYPE html>
<html>
  <head>
    <title>MikroTik Monitor</title>
    <link href="static/styles.css" rel="stylesheet">
  </head>

  <body>
  <!--
  <h2>Accordion</h2>
  
  <button class="accordion">Section 1</button>
  <div class="panel">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  
  <button class="accordion">Section 2</button>
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  
  <button class="accordion">Section 3</button>
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

  <button class="accordion">Legit Router</button>
  <div class="panel">
    <button class="accordion">Legit Device</button>
    <div class="panel">
      IP address: 192.168.XXX.XXX
      <br>
      MAC address: XX-XX-XX-XX-XX-XX
    </div>
  </div>
  --->
  
 <button id="zulli-butt">Zulli! Do the thing!</button>
  <div id="zulli-div"></div>

  <div id="__root" onload="load_data()">
  </div>
  
  </body>

  <script>
    document.getElementById("zulli-butt").onclick = function() {update_router_elements("__root", '[ { "name": "Testing MikroTik","networks": ["192.168.102.1"], "offenses": [], "devices": [] },{ "name": "Testing MikroTik (Direct)","networks": ["192.168.88.1"],"offenses": [],"devices": [ { "mac": "08:00:27:01:27:15", "ip": [ "192.168.88.244" ] } ] } ]')};

    function zulli()
    {
      fetch('/test_func')
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("zulli-div").innerHTML += data.greeting;});
    }

    document.addEventListener("DOMContentLoaded", function () {
        create_router_elements('__root', '[ { "name": "Testing MikroTik","networks": [], "offenses": [], "devices": [] },{ "name": "Testing MikroTik (Direct)","networks": ["192.168.88.1"],"offenses": [],"devices": [ { "mac": "08:00:27:01:27:15", "ip": [ "192.168.88.244" ] } ] } ]')
    });

    function create_top_element(id, name)
    {
        let top_element = document.createElement("button")
        top_element.className = "accordion"
        top_element.id = id
        top_element.innerText = name
        top_element.addEventListener("click", accordion_collapse)
        return top_element
    }

    function create_bot_element(id)
    {
        let bot_element = document.createElement("div")
        bot_element.className = 'panel'
        bot_element.id = id
        return bot_element
    }

    var top_affix = "_top"
    var bot_affix = "_bot"
    var raw_affix = "_raw"
    var offenses_affix = "_offenses"

    function create_element_pair(id, name)
    {
        let top_element = create_top_element(id + top_affix, name)
        let bot_element = create_bot_element(id + bot_affix)
        return [top_element, bot_element]
    }

    function insert_element_pair(target, pair)
    {
        target.appendChild(pair[0])
        target.appendChild(pair[1])
    }

    function update_number(target_element, new_number) {
        target_element.innerText = target_element.innerText.replace(/^\d+?\s+/, '')
        target_element.innerText = new_number + " " + target_element.innerText
    }

    function create_router(root_element, router) {
        let router_name = router['name']

          // prepare networks
          let networks_elements = create_element_pair(router_name + "_networks", 'Networks')
          update_number(networks_elements[0], router['networks'].length)
          for (const address of router['networks']) networks_elements[1].innerHTML += address + "<br>"

          // prepare offenses
          let offenses_elements = create_element_pair(router_name + offenses_affix, "Offenses")
          update_number(offenses_elements[0], router['offenses'].length)
          for (const offense of router["offenses"])
          {
              // TODO add some totally superb processing here
              continue
          }

          // prepare devices
          let devices_elements = create_element_pair(router_name + '_devices', "Devices")
          update_number(devices_elements[0], router['devices'].length)
          for (const device of router["devices"])
          {
              let IP_adds = ""
              for (const add of device['ip']) IP_adds += add + " "
              devices_elements[1].innerHTML += "MAC: " + device["mac"] + "<br>IP: " + IP_adds + "<br>"
          }

          // create router
          let router_elements = create_element_pair(router_name, router_name)

          // fill router
          insert_element_pair(router_elements[1], networks_elements)
          insert_element_pair(router_elements[1], offenses_elements)
          insert_element_pair(router_elements[1], devices_elements)

          // wrap it up by inserting into target
          insert_element_pair(root_element, router_elements)
    }
    
    function create_router_elements(root_id, json_string)
    {
      const data = JSON.parse(json_string);
      let root_element = document.getElementById(root_id)
      for (const router of data)
      {
          create_router(root_element, router)
      }
    }

    function update_router(root_element, router) {
      let router_name = router['name']
      let router_element = get_router_element_bot(router_name)

      // update networks
      let networks_element = document.getElementById(router_name + '_networks_bot')
      update_number(document.getElementById(router_name + '_networks_top'), router['networks'].length)
      networks_element.innerHTML = ''
      for (const address of router['networks']) networks_element.innerHTML += address + "<br>"

      // update offenses
      let offenses_element = document.getElementById(router_name + '_offenses_bot')
      update_number(document.getElementById(router_name + offenses_affix + top_affix), router['offenses'].length)
      offenses_element.innerHTML = '' // clear previous offenses
      for (const offense of router["offenses"])
      {
          // TODO add some totally superb processing here
          continue
      }

      // update devices
      let devices_element = document.getElementById(router_name + '_devices_bot')
      update_number(document.getElementById(router_name + '_devices_top'), router['devices'].length)
      devices_element.innerHTML = '' // clear previous devices
      for (const device of router["devices"])
      {
          let IP_adds = ""
          for (const add of device['ip']) IP_adds += add + " "
          devices_element.innerHTML += "MAC: " + device["mac"] + "<br>IP: " + IP_adds + "<br>"
      }
    }

    function get_router_element_top(router_name)
    {
        return document.getElementById(router_name + top_affix)
    }

    function get_router_element_bot(router_name)
    {
        return document.getElementById(router_name + bot_affix)
    }

    function get_router_elements(router_name) {
        let router_el_top = get_router_element_top(router_name)
        let router_el_bot = get_router_element_bot(router_name)
    }

    function update_router_elements(root_id, json_string) {
        const data = JSON.parse(json_string);
      let root_element = document.getElementById(root_id)
      for (const router of data)
      {
          if (get_router_element_top(router['name']))
          {
              update_router(root_element, router)
          }
          else
          {
              create_router(root_element, router)
          }
      }
    }
  </script>

<!--
REUSED CODE
W3Schools
From: https://www.w3schools.com/howto/howto_js_accordion.asp
Date: 10. 03. 2023
-->

<style>
  .accordion
  {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover
  {
    background-color: #ccc; 
  }
  
  .panel
  {
    padding: 0 20px;
    display: none;
    background-color: white;
    overflow: hidden;


    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  </style>

<script>

    function accordion_collapse() {
    this.classList.toggle("active");
    let panel = this.nextElementSibling;
    if (panel.style.display === "block")
    {
        panel.style.display = "none";
    }
    else
    {
        panel.style.display = "block";
    }
    }

  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++)
  {
    acc[i].addEventListener("click", accordion_collapse);
  }
</script>

<!-- END OF REUSED CODE -->

</html>